@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "RocknRoll One", sans-serif;
}

body {
  background: linear-gradient(190deg, #867bcd 0%, #6a5aab 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #222;
  overflow: hidden;
}

.App {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}
.App h1 {
  display: inline;
  text-align: center;

  margin-bottom: 2rem;
  color: #e1ebfd;

  text-shadow: 0 0 5px #433aa8, 3px -1px 5px #271c6c;
}
.addTodos {
  display: flex;
  justify-content: center;
}

.todo-input {
  min-width: 15rem;
  width: 40vw;

  max-height: 2.5rem;
  background-color: #e1ebfd;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;

  align-self: center;
}
.todo-input:focus {
  outline: none;

  border: 2px solid #433aa8;
}
.add-btn {
  margin-left: 1rem;

  background-color: #271c6c;
  color: #e1ebfd;
  border-radius: 50%;
  border: 2px solid #e1ebfd;
  font-size: 1.5rem;
  width: 3.2rem;
  height: 3.2rem;
  cursor: pointer;
  box-shadow: 2px 4px 10px #271c6c;
  transition: 0.2s all;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-btn:focus {
  outline: none;
}
.displaytodos {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;

  align-items: center;
}
.displaytodos .buttons {
  margin-bottom: 2rem;
}
.displaytodos .buttons button {
  padding: 0.5rem 1.2rem;
  border-radius: 20px;
  cursor: pointer;
  border: none;
}
.displaytodos .buttons button:focus {
  outline: none;
}
.displaytodos .buttons button:not(:last-child) {
  margin-right: 1rem;
}

.displaytodos ul {
  list-style: none;
  display: flex;
  align-self: flex-start;
  flex-wrap: wrap;
  margin-left: 5%;
}

.card {
  display: flex;
  flex-direction: column;

  background: rgb(180, 182, 218);
  background: radial-gradient(
    circle,
    hsla(237, 34%, 78%, 0.9) 0%,
    hsla(219, 88%, 94%, 0.9) 100%
  );

  margin: 0 1rem 1rem 0;
  height: 8rem;
  width: 18rem;
  border-radius: 0.5rem;
  padding: 1rem;

  position: relative;
}
.card textarea {
  padding: 0.5rem;
  border-radius: 8px;
  border: none;
  background-color: #e1ebfd;

  color: #271c6c;
  height: 70%;
}

.card textarea::-webkit-scrollbar {
  width: 0.2rem;
  background-color: transparent;
  cursor: pointer;
}

.card textarea::-webkit-scrollbar-thumb {
  background-color: #271c6c;
  border-radius: 20%;
}
.card textarea::-webkit-resizer,
.card textarea::-webkit-scrollbar-corner {
  background-color: transparent;
}

.card textarea:disabled {
  background-color: transparent;
}
.card .btns {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.card .btns button {
  border-radius: 20%;
  border: none;
  margin: 0 0.6rem;

  font-size: 1.4rem;

  cursor: pointer;
  color: #271c6c;
  background-color: transparent;
}

.card .btns button:focus {
  outline: none;
}

.card .btns button:last-child {
  margin-right: 0.2rem;
  color: red;
}
.card .btns button:nth-child(2) {
  color: green;
}

@media Screen and (max-width: 640px) {
  .displaytodos ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
  }
  .card {
    margin-right: 0;
  }
}

.completed {
  position: absolute;
  right: 0.3rem;
  top: 0.3rem;
  background-color: #867bcd;
  border: 2px solid #271c6c;
  color: #e1ebfd;

  border-radius: 20px;
  font-size: 0.8rem;
  padding: 0.3rem 1rem;
}
